# url do database
db = 

# secret key para codificar o token
SECRET_KEY = 

# alogritimo para codificar o token
ALGORITHM = 

# tempo do token em minutos para expirar o token
ACCESS_TOKEN_EXPIRE_MINUTE = 

# configuracao do Fastmail (SMTP)
MAIL_USERNAME = seu_email@fastmail.com
MAIL_PASSWORD = sua_senha_de_app
MAIL_FROM = seu_email@fastmail.com
MAIL_SERVER = smtp.fastmail.com
MAIL_PORT = 465
MAIL_STARTTLS = False
MAIL_SSL_TLS = True

# configuracao do Resend (API HTTP)
RESEND_API_KEY = re_123456789